<% include template/header  %>

		<!-- lead -->
		<a class="ish-row ish-fullrow ish-lead" href="">
			
			

			<div class="ish-lead__image" >
				<img src="./images/header.jpg" alt="work in silent" style="width:1621px;height:713px;">
			</div>
			<h1 class="ish-lead__headline" style="width: 2177px;display: block;" >
				<span class="ish-lead__headline-inner">Quản Lý Sách</span>
			</h1>
			<span class="ish-lead__caption " style="font-size: larger; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: rgb(23, 10, 44); margin-top: 50px; background-color: rgb(255, 240, 31);">
				<strong>&nbsp;&nbsp;Sách là bạn của cuộc đời con người, mỗi chúng ta nên đọc thật nhiều sách
				để có thêm tri thức, nhìn nhận những vẻ đẹp trong cuộc sống. Hãy thử tìm cho mình một người bạn nhé.</strong></span>
		</a>
		<!-- lead end -->

		<div style="margin-top: 268px;margin-left: 1272px;">
			<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
				<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
			  </svg><a href="/timkiemten" style="color: rgb(180, 5, 5); text-decoration-line: underline;"><strong> Tìm kiếm sách ngay nào!</strong></a>  
		</div>
		<div style="margin-top: 20px;margin-left: 1272px;">
			<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-map" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M15.817.113A.5.5 0 0 1 16 .5v14a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 15.01l-4.902.98A.5.5 0 0 1 0 15.5v-14a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0L10.5.99l4.902-.98a.5.5 0 0 1 .415.103zM10 1.91l-4-.8v12.98l4 .8V1.91zm1 12.98 4-.8V1.11l-4 .8v12.98zm-6-.8V1.11l-4 .8v12.98l4-.8z"/>
			  </svg><a href="/bando" style="color: rgb(180, 5, 5); text-decoration-line: underline; margin-top: -100px;"><strong> Bạn cần xem bản đồ cửa hàng?</strong></a>
		</div>
		<div style="margin-top: 28px;margin-left: 1271px;">
			<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-bookmark-check-fill" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
			  </svg><a href="/sanphamyeuthich" style="color: rgb(180, 5, 5); text-decoration-line: underline; margin-top: -100px;"><strong> Những sản phẩm mọi người vừa mới xem</strong></a>
		</div>

		<div class="ish-row ish-content" style=" margin-left: 140px;margin-top: -179px;">
			<ul class="ish-portfolio-item ish-portfolio-filter" style="margin-top:-71px; margin-left:-57px">
				<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-book-half" viewBox="0 0 16 16">
					<path d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
				  </svg> <a class="ish-portfolio-filter__item ish-portfolio-filter--title" style="margin-top:20px ;"><h5><strong>Danh mục sản phẩm:</strong></h5></a>
				
				<li class="ish-portfolio-filter__item"><a class="ish-portfolio-filter__link ish-portfolio-filter__lnpm sink--active" style="font-size:medium; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" href="#all">Tất Cả</a></li>
				
				<!-- không có filter trùng nhau -->
				<% var danhmucfil = []  %>
				<% data.forEach(function(sanpham){
					
					if(danhmucfil.indexOf(sanpham.danhmuc) == -1) danhmucfil.push(sanpham.danhmuc);
				})  %>

				
				<% data.forEach(function(sanpham){
					if(danhmucfil.indexOf(sanpham.danhmuc) != -1 ){
						danhmucfil.splice(danhmucfil.indexOf(sanpham.danhmuc),1);
						console.log(danhmucfil)
					 %>
				<li class="ish-portfolio-filter__item"><a class="ish-portfolio-filter__link" style="font-size:medium;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" href="#<%= sanpham.danhmuc %> "><%= sanpham.danhmuc  %></a></li>
				<%
					} 
				})
				%>
			</ul>
		</div>
		<!-- content -->
		<div class="ish-row ish-content ish-portfolio ish-macy" style="margin-top: 100px; margin-left: 20px; margin-right: 000px;">
      <!-- main content -->
			
			 
			<% data.forEach(function (motsanpham){ %>
			<a class="ish-portfolio-item ish--tc13 ish-portfolio-<%= motsanpham.danhmuc %>" href="/chi-tiet/<%= motsanpham.ten %>.<%= motsanpham._id %>">
				<div class="ish-portfolio-item__image-container" style="margin-top:300px">
					<img class="ish-portfolio-item__image" src="<%= motsanpham.anhsp[0]%>" alt="business cards">
				</div>
				<div class="ish-portfolio-item__desc">
					<span class="ish-portfolio-item__title"><%= motsanpham.ten  %></span>
					<span class="ish-portfolio-item__subtitle"><%= motsanpham.danhmuc  %></span>
				</div>
			</a>
			<% }) %>




		</div>
		<!-- content end -->

<% include template/footer  %>
		