<% include template/header %>
    <a class="ish-row ish-fullrow ish-lead" href="">
        <div class="ish-lead__image">
            <img src="./images/header.jpg" alt="work in silent" style="width:1621px;height:713px;">
        </div>
        <h1 class="ish-lead__headline">
            <span class="ish-lead__headline-inner">Quản Lý Sách</span>
        </h1>
    </a>
    <!-- lead end -->
    <!-- content -->
    
    <div class="container-fluid">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="jumbotron">
                    <h1 class="display-3">Tìm kiếm sách theo tiêu đề:</h1>
                    <p class="lead">Hãy nhập chữ</p>
                    <hr class="my-2">
                    <form action="" method="post">
                        <div class="form-group">
                            <label for="ten"></label>
                            <input type="text" name="ten" id="" class="form-control" placeholder=""
                                aria-describedby="helpId">
                        </div>
                        <button type="submit">Submit thông tin</button>
                    </form>
                    <% if (ten == ""){ %>
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <h4 class="alert-heading">Thông báo!</h4>
                            <strong>Xin lỗi bạn!</strong> Bạn chưa nhập kí tự gì cả!
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    <% } else{ %>

                    <% if (data.length == 0){ %>
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <h4 class="alert-heading">Thông báo!</h4>
                            <strong>Xin lỗi bạn!</strong> Không có cuốn sách nào chứa kí tự bạn vừa nhập!
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    <%} else{ %>
                        <div class="alert alert-success" role="alert">
                            <h4 class="alert-heading">Thông báo!</h4>
                            Xin Chào, đây là những cuốn sách chứa từ "<strong><%= ten %></strong>"
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                    <% }} %>


                </div>
            </div>
        </div>
        <div class="ish-row ish-content ish-portfolio ish-macy">
            <% data.forEach(function (motsanpham){ %>
                <a class="ish-portfolio-item ish--tc13 ish-portfolio-<%= motsanpham.danhmuc %>"
                    href="/chi-tiet/<%= motsanpham.ten %>.<%= motsanpham._id %>">
                    <div class="ish-portfolio-item__image-container" style="margin-top:300px">
                        <img class="ish-portfolio-item__image" src="<%= motsanpham.anhsp[0]%>" alt="business cards">
                    </div>
                    <div class="ish-portfolio-item__desc">
                        <span class="ish-portfolio-item__title">
                            <%= motsanpham.ten %>
                        </span>
                        <span class="ish-portfolio-item__subtitle">
                            <%= motsanpham.danhmuc %>
                        </span>
                    </div>
                </a>
                <% }) %>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>


        <% include template/footer %>